@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Quicksand;
}

.header {
  padding-left: 30px;
}

.category {
  cursor: pointer;
}

.category-container {
  padding-left: 30px;
  width: 300px;
}

.joke-container {
  padding-right: 30px;
}

.main {
  display: flex;
  flex-direction: row;
}
